.article {
  display: flex;
}

.back {
  position: fixed;
  top: 32px;
  left: 32px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  height: 100vh;
  width: 45%;
  position: sticky;
  top: 0;
  flex: 1;
}

.content {
  padding: 36px 32px;
  flex: 1.3;
}

@media screen and (max-width: 800px) {
  .article {
    flex-direction: column;
  }

  .imageWrapper {
    height: 500px;
    width: 100%;
    position: static;
    top: 0;
  }
}
