.card {
  height: 268px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0.9) 100%
  );

  transition: transform 0.3s linear;
}

.card:hover .overlay {
  transform: scale(1.4);
}

.info {
  margin-top: auto;
  z-index: 1;
  padding: 24px;
}

.tag {
  font-weight: 100;
  font-size: 18px;
  color: #e2e2e2;
  margin-bottom: 2px;
}

.title {
  font-size: 28px;
  line-height: 32px;
  color: var(--text);
}
