.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(var(--background-rgb), 0.8);
  z-index: var(--header-index);
}

.headerInner {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: var(--header-height);
}
