.section {
  margin-top: 40px;
  margin-bottom: 64px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 880px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 16px;
}

.link {
  color: var(--accent);
}
